{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">Alpha</h3>
        <p class="d-inline myp">80 points</p>
        <p class="d-inline myp">Programming</p>
        <br>
        <br>
        <br>
        <p>The flag accidentally got changed into something else. </p>
        <p>Here is the flag: ¥¦§¸ªßØÌÉÃÊÐÅËá</p>
        <p>Hint: I think the first letter was an A and the title was supposed to be what's your favorite number of the alphabet got cut off</p>
        <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}