{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">Base 62^2</h3>
        <p class="d-inline myp">20 points</p>
        <p class="d-inline myp">Cryptography</p>
        <br>
        <br>
        <br>
        <p>There are numerous ways of encrypting and decrypting information nowadays...</p>
        <p>Out of all only one will work!</p>
        <p>ZmxhZ3tJTG92ZUNURkNoYWxsZW5nZXN9</p>
         <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}