{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">Walking on the streets of BIN Colony</h3>
        <p class="d-inline myp">50 points</p>
        <p class="d-inline myp">Forensics</p>
        <br>
        <br>
        <br>
        <p>Hello Hacker!</p>
        <p>I asked a person some money and he gave me this file and when i asked about its whereabouts he told me to walk on the streets of BIN colony.Then he'll lend me money.</p>
        <p> Can you help me solve this?</p>
        <p>https://mega.nz/file/5rIyVATZ#E-DAYEpEX2WuHEa9pMfqmbiu6kkpI89aMRx7qdi0Adk</p>
        <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}