{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">Dustin REDACTED</h3>
        <p class="d-inline myp">50 points</p>
        <p class="d-inline myp">Forensics</p>
        <br>
        <br>
        <br>
        <p>Flag is hidden somewhere.. Help me in finding it</p>
        <p>https://mega.nz/file/QngCQCwK#S7kX5o_mi0fHyNxyKVXkaqOK_iZT2YpoTKJKr9q5x24</p>
       <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}