{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">London Streets</h3>
        <p class="d-inline myp">30 points</p>
        <p class="d-inline myp">Forensics</p>
        <br>
        <br>
        <br>
        <p>Just take a look at the London Streets. Let I be the flag hiding somewhere. Find me...</p>
        <p>Check out the zip file for my location</p>
        <p>https://mega.nz/file/R3hhRSxI#2uZIBOOl2VyBMkMBT9t6utLszj4cxKiJc-LR5gRYTM8</p>
        <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}