{% extends 'HackuizCTF/base.html' %}

{% block content %}

<div class="container">
	<div class="card">
      <div class="card-body">
        <h3 class="card-title">Guess the Name</h3>
        <p class="d-inline myp">40 points</p>
        <p class="d-inline myp">Miscellaneous</p>
        <br>
        <br>
        <br>
        <p>I don't understand, I only see hello at the end </p>
        <p>Flag={reDnAxElA si e*an ym ,u0y llet lli2 I nois*cco laic*ps a si ti sa tub tErces sI emAn ym dn*irf olleH}</p>
        <p>Help me please!!!</p>
         <form method="POST">
            {% csrf_token %}
        <fieldset>
        <label class="lbl" >Enter the Flag:</label>
        <input type="text" name="flag" class="flag_input" autocomplete="off" placeholder="HackuizCTF{...}">
        <button class="btn btn-success mybtn"> Submit </button> 
        </fieldset>
        </form>
      </div>
  </div>
</div>

{% endblock %}