{% extends 'HackuizCTF/base.html' %}

{% block content %}
    <div class="container lg">
    	<h3> Login </h3>
    	<br>
    <form method="POST">
    	{% csrf_token %}
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control my_input col-8" name="username">
      </div>
     <br>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control my_input col-8" name="password">
      </div>
     <br>
      <button type="submit" class="btn btn-outline-success">Login</button>
    </form>
  </div>
   
{% endblock %}