{% extends 'HackuizCTF/base.html' %}

{% block content %}
    <div class="container" >
    	<h3> Sign-Up </h3>
    	<br>
      <form method="POST" action="{% url 'register'%}" >
        {% csrf_token %}

        {% if form.errors %}
            <p>Your form has errors...</p>
        {% endif %}

        {{ form.as_p }}

        <input type="submit" value="Register" class="btn btn-outline-success" >
        <a href="{% url 'login'%}" class="marg-left" style="color: #28a745">Login Instead</a>
      </form>
   </div>
{% endblock %}